[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
scikit-learn = "*"
opencv-python = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
npm = "*"
ipympl = "*"
pyqt5 = "*"
sip = "*"
pynvim = "*"
pykalman = "*"

[requires]
python_version = "3.8"
